/* GLOBAL */
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 800px;
  margin: 0 auto;
}
ul {
  display: flex;
  gap: 10px;
}
ul li {
  list-style: none;
}
p {
  font-weight: 400;
  color: #1f2937;
  font-size: 18px;
}
a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
h1 {
  color: #1f2937;
}
h3 {
  color: #f9faf8;
}
button {
  background: #3882f8;
  color: #e5e7eb;
  border: none;
  padding: 8px 35px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}
/* HEADER */
header {
  background: #1f2937;
  color: #f9faf8;
  padding: 20px;
}
header #logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* MAIN */
main {
  background: #1f2937;
  color: #f9faf8;
}
main > div {
  padding: 120px 0;
  display: flex;
}
main h1 {
  font-size: 48px;
  font-weight: 900;
  color: currentColor;
}
main p {
  color: #e5e7eb;
}
main img {
  width: 700px;
  height: 200px;
  margin-left: 10px;
  background: #cecece;
}
.information {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 120px;
}
.information ul {
  gap: 40px;
}
.information h1 {
  margin-bottom: 30px;
}
.information .info-image {
  border: 4px #3882f8 solid;
  border-radius: 20px;
  height: 170px;
  margin-bottom: 10px;
}
.quote {
  background: #e5e7eb;
  padding: 120px 0;
}
.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}
.quote span {
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: #1f2937;
  letter-spacing: 0.8px;
}
.call {
  margin-top: 60px;
  margin-bottom: 60px;
  background: #3882f8;
  border-radius: 10px;
  padding: 40px 80px;
  display: flex;
  gap: 8px;
}
.call p {
  color: #e5e7eb;
}
.call button {
  border: 2px #e5e7eb solid;
  padding: 8px 30px;
}
/* FOOTER */
footer {
  background: #1f2937;
  padding: 40px 0;
  text-align: center;
}
footer p {
  color: #e5e7eb;
}
